{{define "base_header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- HTMX -->
        <script src="/static/htmx.min.js"></script>
        <!-- Tailwind -->
        <!-- <link rel="stylesheet" href="/static/css/tailwind.css"> -->
        <!-- Tailwind CDN - for now -->
        <script src="https://cdn.tailwindcss.com"></script>
        
        <link rel="shortcut icon" href="/static/images/icon.png">

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{.Title}}</title>
    </head>
    <body class="min-h-screen h-screen flex flex-col">
        {{if not .HideHeader}}
        <header class="flex w-full h-20 border-b p-2 items-center justify-end">
            <nav class="flex gap-4">
                <h2><a href="/notes">Notes</a></h2>
                <h2><a hx-post="/api/auth/logout" hx-swap="none" class="cursor-pointer">Logout</a></h2>
            </nav>
        </header>
        {{end}}
        <main class="flex flex-col p-6 items-center h-full">
{{end}}

