<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing!</title>
</head>
<body>
    <form hx-post="/notes" hx-target="#notes" hx-swap="beforeend" hx-on::after-request="this.reset()">
        <input type="text" name="title">
        <input type="text" name="content">
        <button type="submit">Submit</button>
    </form>
    <main id="notes" hx-get="/notes" hx-swap="innerHTML" hx-trigger="load"></main>
</body>
</html>
