{{define "login"}}
{{template "base_header" .HeaderData}}
<div class="border rounded-md w-1/2 m-auto p-24">
    <form hx-post="/api/auth/login" hx-swap="none" class="flex flex-col items-center gap-4">
        <h1 class="text-3xl">Login</h1>
        <input type="text" name="username" id="username" placeholder="Username" class="border-b outline-none text-lg">
        <input type="password" name="password" id="password" placeholder="Password" class="border-b outline-none text-lg">
        <button type="submit" class="font-bold shadow-sm shadow-gray-500 hover:bg-sky-400 hover:text-white active:shadow-inner active:shadow-black py-2 px-8 text-lg rounded-full">Go</button>
    </form>
    <p class="text-center text-gray-400"><a href="/register">or <span class="underline">register</span></a></p>
</div>
{{template "base_footer"}}
{{end}}