{{define "register"}}
{{template "base_header" .HeaderData}}
<div class="lg:border rounded-md lg:w-1/2 m-auto lg:p-24">
    <form hx-post="/api/auth/register" hx-swap="none" class="flex flex-col items-center gap-4">
        <h1 class="text-3xl">Register</h1>
        <input type="text" name="username" id="username" placeholder="Username" class="border-b outline-none text-xl lg:text-lg focus:border-gray-500">
        <input type="password" name="password" id="password" placeholder="Password" class="border-b outline-none text-xl lg:text-lg focus:border-gray-500">
        <button type="submit" class="font-bold shadow-sm shadow-gray-500 hover:bg-sky-400 hover:text-white active:shadow-inner active:shadow-black py-2 px-8 text-lg rounded-full">Go</button>
    </form>
    <p class="text-center text-gray-400"><a href="/login">or <span class="underline">login</span></a></a></p>
    <div id="input_error"></div>
</div>
{{template "base_footer"}}
{{end}}