/* Styles for view note page */
#content *{
    padding: 5px;
}

#content * *{
    padding: 0;
}

#content h1{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}

#content h2{
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 5px;
}

#content h3{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 5px;
}

#content ul{
    margin-left: 20px;
    list-style-position: inside;
    list-style-type: disc;
}

#content ol{
    margin-left: 20px;
    list-style-position: inside;
    list-style-type: decimal;
}

#content table{
    border-radius: 10px;
}

#content th, #content td{
    padding: 5px;
    border: 1px solid black;
}

#content pre{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
}

#content blockquote{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    border-left: 5px solid darkgray;
    font-size: 15px;
    padding: 10px;
}

#content a{
    color: blue;
    text-decoration: underline;
}

/* Notes Grid */
#notes{
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
