{{define "edit_note"}}
    <form class="flex flex-col justify-center h-full w-full" hx-post="/api/notes/{{.ID}}" hx-swap="none">
        <input class="w-1/2 self-center font-bold text-5xl text-center border-b-2 focus:outline-none" value="{{.Title}}" name="title">
        <textarea class="w-1/2 h-full self-center text-xl p-4 focus:outline-none resize-none" name="content" id="content">{{.Content}}</textarea>
        <button type="submit" class="bg-sky-400 rounded-md p-2 text-lg w-1/12 fixed bottom-2 right-2">Save</button>
    </form>
{{end}}